<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp8.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-G9FGO99;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp8.Properties.Settings.labfinalConnectionString"
            connectionString="Data Source=DESKTOP-G9FGO99;Initial Catalog=labfinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>